<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
    <nav th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{~/index}">
                    Home
                </a>
            </li>
            <li>
                <a th:href="@{~/new}">
                    New
                </a>
            </li>
            <li>
                <a th:href="@{~/about}">
                    About
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>